* {
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

body {
    background-color: #121213;
}

/*tile container */

.title-container {
    text-align:center ;
    width: 510px;
    border-bottom: solid 1PX #3A3A3C;
}

.tile-container div {
    display: flex;
}

.tile-container .tile {
    width: 62px;
    height: 62px;
    border: 2px solid #3A3A3C;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}

.game-container {
    height: 90vh;
    display: flex;
    flex-direction: column ;
    justify-content: space-between;
    align-items: center;
}

.tile-container {
    width: 330px;
    margin-bottom: 30px;
}

.key-container {
    width: 510px;
    display: flex;
    flex-wrap: wrap;

}

/*Keys for wordle and their colour*/

.key-container button {
    width: 43px;
    height: 58px;
    border-radius: 4px;
    border: none;
    background-color: #818384;
    color: antiquewhite;
    margin: 4px;
    
}
/*The style for the enter and backspace btn*/
.key-container button:nth-child(20),
.key-container button:nth-child(28) {
    width: 70px;
}

.key-container button:nth-child(11) {
    margin-left: 30px;
}

.key-container button:hover {
    background-color: aqua;
}





