* {
    color: aliceblue;
    font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif sans-serif;
    
}

body {
    background-color: #121213;
}

header {
    height:  50px;
    font-size: 40px;
    margin-bottom: 10px;
    font-weight:bolder;
}

/*tile container */

.title-container {
    margin-bottom: 10px;
    text-align:center ;
    width: 510px;
    border-bottom: solid 1PX #3A3A3C;
}

/*add this to make the tiles go next to eachother*/
.tile-container div {
    display: flex;
    
}

.tile-container .tile {
    width: 62px;
    height: 62px;
    border: 2px solid #3A3A3C;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}

.game-container {
    height: 90vh;
    display: flex;
    flex-direction: column ;
    justify-content: space-between;
    align-items: center;
}

.message-container {
    height: 40px;
}

.message-container p {
    background-color: #818384;
    border-radius: 10px;
    padding: 10px;
    margin: 0;
}

.tile-container {
    width: 330px;
    margin-bottom: 30px;
}

.key-container {
    width: 514px;
    display: flex;
    flex-wrap: wrap;
    

}

/*Keys for wordle and their colour*/

.key-container button {
    font-family: inherit;
    font-weight: bold;
    width: 43px;
    height: 58px;
    border-radius: 4px;
    border: none;
    background-color: #818384;
    color: antiquewhite;
    margin: 3.5px;
    
}
/*The style for the enter and backspace btn*/
.key-container button:nth-child(20),
.key-container button:nth-child(28) {
    width: 70px;
}

.key-container button:nth-child(11) {
    margin-left: 30px;
}

.key-container button:hover {
    background-color: aqua;
}





